<!DOCTYPE html> <!-- etiqueta unica de tipo de documento -->
<html> <!-- inicio de html -->
<!-- cabeza de mi codigo -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> BOUTIQUE ZTD Inicio Sitio - Tienda de Ropa y Calzados</title>
  <link rel="stylesheet" href="/css/estilos.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  
</head>
<!-- Cuerpo de mi codigo -->
<body> 
  <header>
    <!--Inicio Menu  -->
    <nav class="navbar navbar-light" style="background-color: rgb(245, 222, 192);">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <h1>BOUTIQUE ZTD</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">BOUTIQUE ZTD</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/views/contacto.html">Contacto</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="offcanvasNavbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Indumentaria
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="/views/ropaInterior.html">Ropa Interior</a></li>
                  <li><a class="dropdown-item" href="/views/remeras.html">Remeras</a></li>
                  <li><a class="dropdown-item" href="/views/pantalones.html">Pantalones</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="offcanvasNavbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Calzados
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="/views/ojotas.html">Ojotas</a></li>
                  <li><a class="dropdown-item" href="/views/zapatos.html">Zapatos</a></li>
                  <li><a class="dropdown-item" href="/views/zapatillas.html">Zapatillas</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <div class="two columns u-pull-right carrito1 ">
                  <ul>
                      <li id="let" class="submenu sinSubrayado moverCarrito"><a class="nav-link active" aria-current="page"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                        <path
                          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                      </svg>Carrito</a>
                          <div id="carrito">
                              <table id="lista-carrito" class="u-full-width">
                                  <thead>
                                      <tr>
                                          <th>Imagen</th>
                                          <th>Nombre</th>
                                          <th>Precio</th>
                                          <th>Cantidad</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody></tbody>
                              </table>
                              <p id="total-carrito" class="sinSubrayado">Total Carrito: </p>
                              <a href="#" id="vaciar-carrito" onclick="haldeclick()" class="btn btn-danger">Vaciar Carrito</a>
                              <a id="procesar-pedido" class="btn btn-secondary">Procesar Compra</a>
                          </div>
                      </li>
                  </ul>
              </div>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </nav> <!-- Fin Menu -->
  </header>
      <h2> Formulario </h2>
      <form id="formulario" action="/views/contacto.html">
      <section class="tamanioH2">
      <article>
        <div class="col ">
          <h2 class="h5">Nombre</h2>
          <input id="nombre"type="text" class="form-control" placeholder="" aria-label="First name">
        </div>
      </article>
        <article>
        <div class="col ">
          <h2 class="h5">Apellido</h2>
          <input id="apellido" type="text" class="form-control" placeholder="" aria-label="Last name">
          <br>
        </div>
      </article>
        <article>
        <div class="col">
          <h2 class="h5">Telefono</h2>
          <input id="telefono" type="number" class="form-control" placeholder="" aria-label="Last name">
          <br>
        </div>
      </article>
        <article>
        <div class="col">
          <h2 class="h5">Email</h2>
          <input id="email" type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="">
          <br>
        </div>
      </article>
    </section>
    <article>
      <select name="Motivo" class="option">
        <option value=""> Motivo </option>
        <option value="Rec"> Reclamo </option>
        <option value="Con"> Consulta </option>
        <option value="Otr"> Otros </option>
      </select>
     </article>
     <article>
      <label for="comentario"><h2 class="h5">Comentarios</h2></label>
          <textarea name="comentario"  cols="80" rows="10"></textarea>
      
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Acepto Terminos
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-<header>
    
          <h5 class="modal-title" id="exampleModalLabel">Acepto Terminos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          ...
           </div>
          <div class="modal-footer">
          <button id="cerrar" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button id="enviar" type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
          </div>
          </div>
          <!-- fin modal -->
          
          <input type="reset" class="btn btn-secondary">Limpiar</input>
        </div>
        </article>
        </form>
        <script src="/js/main.js"></script>
        <script src="/js/pedido.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <footer class="footer h5"> &copy;2022 - Leandro Veliz </footer>
</body>
</html>